.libros {
  display: grid;
  grid-template-columns: 280px 1fr;
  justify-content: center;
  align-content: start;
  min-height: 100vh;
  margin-top: 70px;

  padding-bottom: 20px;

  column-gap: 20px;
}

@media only screen and (max-width: 992px) {
  .libros {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}
@media only screen and (max-width: 760px) {
  .libros {
    margin-top: 130px;
  }
}
@media only screen and (max-width: 385px) {
  .libros {
    margin-top: 160px;
  }
}

.libros-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

  justify-content: left;
  align-content: start;

  column-gap: 20px;
  row-gap: 20px;

  padding: 10px 10px 10px 20px;
}

@media only screen and (max-width: 992px) {
  .libros-center {
    justify-content: center;
  padding: 10px ;
  }
  .libros-center > .card {
    max-width: auto !important;
  }
}

.content-img-card {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;

  justify-content: center;
  align-content: center;
}
.img-card {
  max-width: 100%;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}
.img-card > img {
  height: 200px;
  max-width: 100%;
}
.descripcion-libro {
  display: -webkit-box; /* establece el modo de visualización */
  -webkit-box-orient: vertical; /* orientación vertical */
  -webkit-line-clamp: 2; /* número de líneas que deseas mostrar */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.button-desplegar {
  visibility: hidden;
  display: none;
}
.libros-left {
}
.no-despl,
.despl {
  visibility: visible;
  height: calc(100vh - 150px);
}
@media only screen and (max-width: 992px) {
  .no-despl {
    animation: noexpand 0.5s forwards;
  }
  @keyframes noexpand {
    0% {
      /*
      background-color: rgb(243, 243, 243);
      */
      height: 555px; /* Altura final */
      padding: 10px;
    }
    25% {
      visibility: hidden;
    }
    50% {
      padding: 0px;
      visibility: hidden;
    }
    100% {
      height: 0px; /* Altura inicial */
      visibility: hidden;
      /*
      background-color: white;
      */
    }
  }
  .despl {
    visibility: visible;
    animation: expand 1s forwards;
  }
  @keyframes expand {
    from {
      height: 0px; /* Altura inicial */
      /*
      background-color: white;
      */
    }
    to {
      height: 555px; /* Altura final */
      padding: 10px;
      /*

      background-color: rgb(243, 243, 243);
      */
    }
  }

  .button-desplegar {
    visibility: visible;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 5px;
  }
}

.libros-left > div {
  max-width: 300px;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: start;

  row-gap: 7px;

  height: auto;

  overflow-y: scroll;

  padding: 10px 5px 10px 10px;
  margin-left: 10px;

  border: 2px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
@media only screen and (max-width: 992px) {
  .libros-left > div {
    max-width: 100%;
    margin: 0px;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
  }
}
.filtro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: start;
  column-gap: 10px;
}

.box-categorias {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-content: start;
  row-gap: 10px;
  column-gap: 0px;
}
.box-categorias > div {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: start;
  align-content: center;
  column-gap: 5px;
}

.body-modal-addlibro{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
}
.sub-text{
  font-size: 0.8em;
}
.rdrStartEdge, .rdrInRange, .rdrEndEdge{
background-color:  #00843d !important;
}